.fireSimulation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: "Fira Code", "Fira Mono", "SFMono-Regular", ui-monospace,
        "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    font-size: var(--fire-cell-size, 12px);
    line-height: var(--fire-cell-size, 12px);
    letter-spacing: 0;
    white-space: pre;
    user-select: none;
    color: var(--color-text-primary);
    background-image: linear-gradient(#6b2643,
            #ec273f,
            #de5d3a,
            #e98537,
            #f3a833,
            var(--color-text-primary));
    color: transparent;
    background-clip: text;
}