@keyframes type-animation {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.commandLineRoot {
    white-space: pre-wrap;
    display: block;
    position: relative;
    width: fit-content;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background: var(--color-background);
        animation:
            type-animation var(--duration) var(--delay) steps(var(--length), end) forwards;
        animation-delay: var(--delay);
    }

    &.with_cursor::before {
        content: "_";
    }
}