@keyframes type-animation {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes blink {

    0%,
    50% {
        opacity: 0;
    }

    51%,
    100% {
        opacity: 1;
    }
}

.commandLineRoot {
    white-space: pre-wrap;
    display: block;
    position: relative; 
    width: fit-content;
    color: inherit;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background: var(--color-background);
        animation:
            type-animation var(--duration) var(--delay) steps(var(--length), end) forwards;
        animation-delay: var(--delay);
    }

    &.with_cursor::after {
        content: "_";
        animation:
            type-animation var(--duration) var(--delay) steps(var(--length), end) forwards,
            blink 1s steps(2, start) infinite;
    }
}