.gameRouteContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  cursor: pointer;
  user-select: none;
}

.gameBoard {
  display: grid;
  grid-auto-flow: column;
}