.gameRouteContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  cursor: pointer;
  user-select: none;
}

.gameBoard {
  display: grid;
  grid-auto-flow: column;
}

.fire {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}