.gameRouteContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  cursor: pointer;
  user-select: none;
}

.gameBoard {
  display: grid;
  grid-auto-flow: column;

  @media only screen and (max-width: 1045px) {
    /* Find better mediaquery */
    grid-auto-flow: row;
  }
}

.scoreDisplayRoot {
  font-size: 2rem;
  width: 8rem;
  place-self: center;
  text-align: center;
  line-height: .4;

  div {
    height: 2rem;
  }
}