.playersRouteRoot {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .consoleBody {
        display: grid;
        place-items: center;
        padding: 3rem 10rem;
    }
}