.buttonRoot {
  background: var(--color-background);
  color: var(--color-text-primary);
  position: relative;

  &:hover {
    color: white;
  }

  &:active {
    color: var(--color-text-primary);
  }
}

.text,
.subtitle {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  top: calc(50% + 1.5rem);
}