.buttonRoot {
  background: var(--color-background);
  color: var(--color-text-primary);

  &:hover {
    background: var(--color-text-primary);
    color: var(--color-background);
  }

  &:active {
    background: white;
    color: var(--color-background);
  }
}